table {
  font-family: Helvetica;
}

caption {
  font-size: 16px;
  font-weight: bold;
  padding: 5px 0 5px 0;
}

thead {
  color:gray;
}

.col {
  -moz-column-width: 25px;
  -webkit-column-width: 25px;
  column-width: 25px;
  text-align: center;
}

.today {
  background-color: yellow;
}
